<footer class="footer" >
    <div class="footer__nav">
        <% content.footer.links.forEach((link, i, arr) => { %>
            <%# Loops through all links for footer in database, new links can be easily added %>
            <% if (i === arr.length-1) { %>
                <a href=<%= link.href %>>
                    <h5><%= link.text %></h5>
                </a>
            <% } else { %>
                <a href=<%= link.href %>>
                    <h5><%= link.text %></h5>
                </a>
                <h5>|</h5>
            <% } %>
        <% }); %>
    </div>
    <p class="footer__copyright"><%= content.footer.copyright %></p>
</footer>
