<!-- Sign up Modal -->
<div id="signUpModalSection" class="modal__section">
    <div class="bottomMargin50">
        <%- include("../formField.ejs",
        {id: "signUpName", placeholder: "Name"}) -%>

        <%- include("../formField.ejs",
        {id: "signUpEmail", type: "email", required: true, placeholder: "Email Address"}) -%>

        <%- include("../formField.ejs",
        {id: "signUpPassword", type: "password", placeholder: "Password"}) -%>

        <%- include("../formField.ejs",
        {id: "signUpUniversity", placeholder: "University"}) -%>

        <%- include("../formField.ejs",
        {id: "signUpDepartment", placeholder: "Department"}) -%>
    </div>

    <div class="modal__button-group">
        <button
            id="signUpButton"
            class="btn btn--blue"
        >
            Sign Up
        </button>
    </div>
</div>
