<!-- Very simple currently, for displaying a header and a value on profile page-->
<div class="profile-info__field" id="profile<%= header %>Field">
    <div>
        <h4 class="profileFieldHeader"><%= header %></h4>
        <h3 class="profileFieldText"><%= value %></h3>
        <input
        type="<%= locals.password ? 'password' : '' %>" 
        class="form-field__input profileInput"
        id="profile<%= header %>Input"
        value="<%= locals.password ? '' : value %>" 
        >
    </div>
</div>
