<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="POD Colours Home Page" />
        <title>POD Colours</title>

        <%- include('../partials/head')%>

        <!-- Internal javascript -->
        <script type="module" src="/js/index.js"></script>
    </head>


    <body>
        <%- include('../components/modals/loginModal')%>
        <%- include('../partials/header')%>


        <main class="hero">
            <div
                class="grid grid--column-reverse container tallBlock"
                >
                <div class="hero__content col">
                    <h1 id="heroTitle" class="hero__title" ><%= content.hero.title %></h1>
                    <p class="hero__blurb"><%= content.hero.text %></p>
                    <div class="center--horizontal">
                        <button
                            class="btn btn--success"
                            onclick="location.href='/test'"
                            >
                            Take the Test!
                        </button>
                    </div>
                </div>
                <div class="hero__img col">
                    <div>
                        <img src="<%= content.hero.image %>" />
                    </div>
                </div>
            </div>
        </main>


        <section class="explanation">
            <div class="container shortBlock">
                <h1 class="explanation__title"><%= content.redSection.title %></h1>
                <p class="explanation__blurb"><%= content.redSection.text %></p>
            </div>
        </section>


        <section class="team-quote">
            <div class="grid grid--column-reverse container tallBlock">
                <div class="team-quote__img col">
                    <div>
                        <img src="/img/b&w-woman.jpg">
                    </div>
                </div>
                <div class="team-quote__content col">
                    <h2 ><%= content.teamPhotoSection.title %></h2>
                    <p><%= content.teamPhotoSection.textOne %></p>
                    <p><%= content.teamPhotoSection.textTwo %></p>
                    <p><%= content.teamPhotoSection.quoteAuthor %></p>
                </div>
            </div>
        </section>


        <section id="testimonial">
            <div class="container shortBlock">
                <%- include('../components/carousel', {id: "carouselSlider"})%>
            </div>
        </section>


        <section class="call-to-action">
            <div class="container shortBlock">
                <h1><%= content.callToAction.title %></h1>
                <h2><%= content.callToAction.text %></h2>
                <div class="center--horizontal">
                    <button
                        class="buttonBaseline buttonSuccess noBorder colCenter smallColCenter takeTheTest"
                        onclick="location.href='/test'"
                        >
                        Take the Test!
                    </button>
                </div>
            </div>
        </section>


    </body>
    <%- include('../partials/footer')%>
</html>
