<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="POD Colours Home Page" />
        <title>POD Colours</title>

        <%- include('../partials/head')%>

        <!-- Internal javascript -->
        <script type="module" src="/js/index.js"></script>
    </head>


    <body>
        <%- include('../components/modals/loginModal')%>
        <%- include('../partials/header')%>


        <main class="hero">
            <div
                class="grid grid__column-reverse container tallBlock"
                >
                <div class="hero__content col">
                    <h1 id="heroTitle" class="hero__title" ><%= content.hero.title %></h1>
                    <p class="hero__blurb"><%= content.hero.text %></p>
                    <button
                        class="takeTheTest buttonBaseline buttonSuccess noBorder colCenter smallColCenter"
                        onclick="location.href='/test'"
                        >
                        Take the Test!
                    </button>
                </div>
                <div class="hero__img col">
                    <div>
                        <img src="<%= content.hero.image %>" />
                    </div>
                </div>
            </div>
        </main>


        <section id="explanation" class="">
            <div class="container shortBlock">
                <div class="">
                    <h1 class=""><%= content.redSection.title %></h1>
                </div>
                <div class="">
                    <h4 class=""><%= content.redSection.text %></h4>
                </div>
            </div>
        </section>


        <section id="teamQuoteContainer">
            <div class="grid container tallBlock">
                <div class="TODO">
                    <div id="teamPhotoDiv">
                        <img id="teamPhoto" src="/img/b&w-woman.jpg">
                    </div>
                </div>
                <div class="">
                    <div id="teamQuote">
                        <h2 class="bold bottomMargin50"><%= content.teamPhotoSection.title %></h2>
                        <h3 class="bottomMargin50"><%= content.teamPhotoSection.textOne %></h3>
                        <h3 class="bottomMargin50"><%= content.teamPhotoSection.textTwo %></h3>
                        <h5 id="quoteAuthor" class="bottomMargin50"><%= content.teamPhotoSection.quoteAuthor %></h5>
                    </div>
                </div>
            </div>
        </section>






        <section id="testimonial">
            <div class="mainContainer shortBlock textCenter">
                <div class="col10 smallCol10 smallColCenter colCenter overflowHidden">
                    <%- include('../components/carousel')%>
                </div>
            </div>
        </section>
        <section id="callToAction" class="blackOnPaleBlue">
            <div class="mainContainer shortBlock textCenter">
                <div class="col10 smallCol10 colCenter smallColCenter">
                    <h1 class="bold bottomMargin50"><%= content.callToAction.title %></h1>
                    <h2 class="bottomMargin50"><%= content.callToAction.text %></h2>
                    <button
                        class="buttonBaseline buttonSuccess noBorder colCenter smallColCenter takeTheTest"
                        onclick="location.href='/test'"
                        >
                        Take the Test!
                    </button>
                </div>
            </div>
        </section>
    </body>
    <%- include('../partials/footer')%>
</html>
