<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="POD Colours Home Page" />
        <title>POD Colours</title>

        <%- include('../partials/head')%>

        <!-- Internal javascript -->
        <script type="module" src="/js/index.js"></script>
    </head>


    <body>
        <%- include('../components/modals/modalTemplate',
        {prefix: "login", content: "loginModal", title: "Login"})%>
        <%- include('../components/modals/modalTemplate',
        {prefix: "initiatePasswordReset", content: "initiatePasswordResetModal", title: "Lost Password?"})%>
        <%- include('../partials/header')%>


        <main class="hero">
            <div class="grid grid--column-reverse container">
                <div class="hero__content font--md--left col col--md--6">
                    <h1 id="heroTitle" class="hero__title" ><%= content.hero.title %></h1>
                    <p class="hero__blurb"><%= content.hero.text %></p>
                    <div class="center--horizontal">
                        <button
                            class="btn btn--success"
                            onclick="location.href='/test'"
                            >
                            Take the Test!
                        </button>
                    </div>
                </div>
                <div class="hero__img col col--md--6">
                    <div>
                        <img src="<%= content.hero.image %>" />
                    </div>
                </div>
            </div>
            <section class="explanation container container--short">
                <h2 class="explanation__title"><%= content.redSection.title %></h2>
                <p class="explanation__blurb"><%= content.redSection.text %></p>
            </section>
        </main>




        <section class="team-quote">
            <div class="team-quote__container grid grid--column-reverse container">
                <div class="team-quote__img col col--md--6">
                    <div>
                        <img src="/img/teamphoto.png">
                    </div>
                </div>
                <div class="team-quote__content font--left col col--md--6">
                    <h2 ><%= content.teamPhotoSection.title %></h2>
                    <p><%= content.teamPhotoSection.textOne %></p>
                    <p><%= content.teamPhotoSection.textTwo %></p>
                    <p class="team-quote__content__author"><%= content.teamPhotoSection.quoteAuthor %></p>
                </div>
            </div>
        </section>


        <section id="testimonial">
            <div class="container container--short">
                <%- include('../components/carousel', {id: "carouselSlider"})%>
            </div>
        </section>


        <section class="call-to-action">
            <div class="container container--short">
                <h2><%= content.callToAction.title %></h2>
                <h4 class="call-to-action__text"><%= content.callToAction.text %></h4>
                <div class="center--horizontal font--margin-unset">
                    <button
                        class="btn btn--success"
                        onclick="location.href='/test'"
                        >
                        Take the Test!
                    </button>
                </div>
            </div>
        </section>


    </body>
    <%- include('../partials/footer')%>
</html>
