<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="POD Colours User Profile Page" />
        <title>POD Colours</title>

        <%- include('../partials/head')%>

        <!-- Internal stylesheets -->
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/indexMobile.css" />
        <link rel="stylesheet" href="/css/app.css"/>

        <!-- Internal javascript -->
        <script type="module" src="/js/profile.js" ></script>
    </head>
    <%- include('../partials/header')%>
    <body>
        <div class="mainContainer shortBlock">
            <div class="col10 smallCol10 colCenter smallColCenter bottomMargin100">
                <% if (profile.testState.complete === true) { %>
                    <%# %>
                    <h1 class="bold bottomMargin100 underline">Thank you for taking the test!</h1>
                    <h2 class="bottomMargin30">Your choices suggest you're partially <%= profile.testState.result %></h2>

                    <%- include('../components/profileField', {header: "You chose to keep", value: profile.cardCountString  })%>
                    <%- include('../components/profileField', {header: "Date Taken", value: profile.lastUpdate  })%>
                <% } else { %>
                    <h1 class="bold bottomMargin100 underline">Your results are waiting...</h1>
                    <div class="flex spaceAround">
                        <div>
                            <h1 class="textCenter bold bottomMargin30" >Kept</h1>
                            <h1 class="textCenter green">30/20</h1>
                        </div>
                        <div>
                            <h1 class="textCenter bold bottomMargin30">Discarded</h1>
                            <h1 class="textCenter red">35/60</h1>
                        </div>
                    </div>
                <% } %>
            </div>
            <% if (!profile.testState.complete === true) { %>
                <button
                    id="<%= header.testButton.id %>"
                    onclick="<%= header.testButton.onClick %>"
                    class="buttonBaseline colCenter noBorder takeTheTest <%= header.testButton.class %>">
                    <%= header.testButton.text %>
                </button>
            <% } %>
        </div>
        <div class="mainContainer shortBlock">
            <div class="col10 smallCol10 colCenter smallColCenter ">
                <div class="flex bottomMargin50 underline spaceBetween alignEnd">
                    <h1 class="bold">My Profile</h1>
                    <button
                        id="profileEditButton"
                        class="buttonBaseline noBorder buttonBlue"
                        onclick="this.blur()"
                    >
                        Edit
                    </button>
                    <button
                        id="profileSaveButton"
                        class="buttonBaseline noBorder buttonSuccess"
                        onclick="this.blur()"
                    >
                        Save
                    </button>
                </div>
                <%- include('../components/profileField', {header: "Name", value: profile.name })%>
                <%- include('../components/profileField', {header: "University", value: profile.university})%>
                <%- include('../components/profileField', {header: "Department", value: profile.department})%>
                <%- include('../components/profileField', {header: "Email", value: profile.email})%>
                <%- include('../components/profileField', {header: "Password", value: "*".repeat(8), password: true})%>
            </div>
        </div>
    </body>
    <%- include('../partials/footer')%>
</html>
