<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="POD Colours Personality Test" />
        <title>POD Colours</title>

        <%- include('../partials/head')%>

        <!-- jQuery UI -->
        <script
            src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous"
        ></script>

        <!-- Internal stylesheets -->
        <link rel="stylesheet" href="/css/main.css" />

        <!-- Internal javascript -->
        <script type="module" src="/js/test/test.js"></script>
    </head>
    <%- include('../partials/header')%>
    <body>
        <%- include('../components/modals/modalTemplate',
        {prefix: "login", content: "loginModal", title: "Login"})%>

        <%- include('../components/modals/modalTemplate',
        {prefix: "instructions", content: "instructionsModal", title: "Instructions"}) %>

        <%- include('../components/modals/modalTemplate',
        {prefix: "signUp", content: "signUpModal", title: "Sign Up"})%>

        <%- include('../components/modals/modalTemplate',
        {prefix: "results", content: "resultsModal", title: "Your Results"}) %>

        <%- include('../components/modals/modalTemplate', 
        {prefix: "randomPerson", content: "randomPersonModal", title: "Personality Match"}) %>

        <div id="appPrimaryContainer" class="appBackground">
            <div id="greenDropzone" dropId="kept" class="cardDropzone">
                <div class="dropZoneText">Keep</div>
                <div id="keepCounter" class="dropZoneText">0/20</div>
            </div>
            <div id="undecidedDropZone" dropId="undecided"></div>
            <div id="redDropzone" dropId="discarded" class="cardDropzone">
                <div class="dropZoneText">Discard</div>
                <div id="discardCounter" class="dropZoneText">0/60</div>
            </div>
        </div>
        <div>
            <button
                id="completeTest"
                class="btn btn--success"
                disabled>
                Finish
            </button>
        </div>
    </body>
</html>
